# Application
PORT=3000
NODE_ENV=development

# Database (fmp_id) - Writer
CORE_DB_WRITER_HOST=localhost
CORE_DB_WRITER_PORT=5432
CORE_DB_WRITER_NAME=fmp_id
CORE_DB_WRITER_USER=postgres
CORE_DB_WRITER_PASSWORD=postgres

# Database (fmp_id) - Reader
CORE_DB_READER_HOST=localhost
CORE_DB_READER_PORT=5432
CORE_DB_READER_NAME=fmp_id
CORE_DB_READER_USER=postgres
CORE_DB_READER_PASSWORD=postgres

# Connection Settings
CORE_DB_MAX_CONNECTIONS=20

# Frontend URL for redirecting successful logins
FRONTEND_URL="http://localhost:5173"
